.card{
  border-radius: 20px;
  border: none;
  box-shadow:5px 10px 15px rgba(0, 0, 0, 0.4), -2px -5px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary{
  background-color: #4C114B !important;
  color: white;
  border: none !important;
}

.title h2{
  color: #4C114B;
  letter-spacing: 1.4px;
}