.card{
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}

.btn-primary{
  background-color: rgb(98, 0, 98) !important;
  color: white;
  border: none !important;
}

.title h2{
  color: rgb(98, 0, 98);
  letter-spacing: 1.4px;
}