*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
    font-family: "Libertinus Sans", sans-serif;
    background: linear-gradient(to top, #EEDEF9 50%, #4C114B 50%);
  background-attachment: fixed;
}